html, body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background-color: #efefef;
}

.head {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
    margin-top: 14%;
    color: #35363A;
}

.title {
    padding-bottom: 20px;
    font-size: 2.5rem;
    color: #35363A;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #35363A;
}

.stackoverflow, .stackoverflow:hover, .stackoverflow:focus {
    background-color: hsl(210, 8%, 97.5%);
    color: hsl(27,90%,55%);
}

@media (prefers-color-scheme: dark) {

    html, body {
        background-color: #35363A;
    }

    .head {
        color: #efefef;
    }

    .title {
        color: #efefef;
    }

    footer {
        color: #efefef;
    }

    .stackoverflow, .stackoverflow:hover, .stackoverflow:focus {
        background-color: hsl(0, 0%, 23%);
    }
}

.chip .code {
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}

main {
    margin-top: 10%;
}

main a {
    margin-bottom: 10px;
}

.instagram {
    background-color: rgba(51, 103, 214, 0.9);
    background: linear-gradient(to right, rgba(51, 103, 214, 1) 0%, rgba(51, 103, 214, 1) 10%, rgba(203, 67, 55, 1) 40%, rgba(244, 179, 0, 1) 65%, rgba(15, 157, 88, 1) 90%, rgba(15, 157, 88, 1) 100%);
}

.mastodon {
    background-color: #595aff;
    color: white;
}

.linkedin, .linkedin:hover, .linkedin:focus {
    background-color: #0a66c2;
    color: white;
}

.keybase {
    color: #efefef;
    border: #ff6f21 1px solid;
    line-height: 35px;
    background-color: #4c8eff;
}

.x {
    border: #03a9f4 1px solid;
}

.x:hover, .x:focus {
    border: #000 1px solid;
}